@model OnlineShoppingWeb.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <font color="black">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>*@
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacture)
        </dd>
    </dl>
    <div style="Padding: 20px;">
        @if(Model.ImageName != " ")
        {
            <img src="~/image/@Model.ImageName" height="500" width="300"/>
        }
    </div>
    </font>
</div>
<div>
    @Html.ActionLink("Test Link", "Index", "Home")
    @Html.ActionLink("Edit", "Edit", new { id= Model.Id }) |
    <a asp-action="Index" asp-controller = "Product">Back to List</a>
</div>
